<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div id="content-wrap" class="home-page">
                    <h1>Welcome to Cat's Cradle!</h1>
                    <div class="room-card">
                        <header class="card__header">
                            <h2 class="product__title">
                                Our Mission
                            </h2>
                        </header>
                        <div class="card__image">
                            <img src="./../../images/woman-playing-with-cat.jpg" alt="Woman playing with Cat">
                        </div>
                        <div class="card__content">
                            <p class="product__description">
                                Here at Cat's Cradle we want to provide a fun environment for you to relax and have a tasty beverage 
                                while enjoying some board games...with a twist! We work with local shelters to help get their cats 
                                more exposure to help find their furrever homes. You can pick a cat to play with while you enjoy 
                                your beverage and play your games. So what are you waiting for?
                            </p>
                    </div>
                    <div class="appointment__content">
                        <h3><a class="reserve-btn" href='/rooms'>Make a Reservation Today!</a></h3>
                    </div>
            </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>